---
import Star from "./icons/Star.astro";
---

<div class="w-full flex items-center gap-20 justify-center">
    <img src="/Limpieza.png" alt="" class="rounded-full w-[12rem]">
    <div class="flex flex-col gap-3">
        <div class="flex">
            <Star status="true"/>
            <Star status="true"/>
            <Star status="true"/>
            <Star status="false"/>
            <Star status="false"/>
        </div>
        <p class="w-[50rem]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
    </div>
</div>