---
import Aseo from '../components/icons/Aseo.astro'
import AdminPropiedades from '../components/icons/AdminPropiedades.astro'
import Jardineria from '../components/icons/Jardineria.astro'
import Rutas from '../components/icons/Rutas.astro'

---

<div class="w-full h-[30rem] flex justify-center items-center align-center gap-[10%]">
    <div class=" flex flex-col justify-center items-center align-center gap-12">
        <Aseo
        width="110"
        height="110"
        />
        <h1 class="animate-bounce text-4xl text-center font-bold">+1000</h1>
    </div>
    <div class=" flex flex-col justify-center items-center align-center gap-12">
        <AdminPropiedades
        width="110"
        height="110"
        />
        <h1 class="animate-bounce text-4xl text-center font-bold">+1000</h1>
    </div>
    <div class=" flex flex-col justify-center items-center align-center gap-12">
        <Jardineria
        width="110"
        height="110"
        />
        <h1 class="animate-bounce text-4xl text-center font-bold">+1000</h1>
    </div>
    <div class=" flex flex-col justify-center items-center align-center gap-12">
        <Rutas
        width="110"
        height="110"
        />
        <h1 class="animate-bounce text-4xl text-center font-bold">+1000</h1>
    </div>
</div>