---
import Instagram from '../components/icons/Instagram.astro'
import Facebook from '../components/icons/Facebook.astro'
import Whatsapp from '../components/icons/Whatsapp.astro'
---

<footer class="w-full flex justify-center bg-green-second">
    <div class="py-12 w-[79rem]">
        <div class="flex justify-between ">
            <div class="w-32">
                <a href="#"><img src="/LOGO.png" alt="" /></a>
            </div>
            <div class="flex items-center">   
                    <ul class="font-bold text-xl text-white flex gap-6">
                        <li><a href="/">INICIO</a></li>
                        <li><a href="/services">SERVICIOS</a></li>
                        <li><a href="/us">NOSOTROS</a></li>                        
                        <li><a href="#contact">CONTACTO</a></li>
                    </ul>
            </div>
            <div class="icons">
                <ul class=" flex gap-6" >
                    <li><a href="https://www.instagram.com" target="_blank"><Instagram/></a></li>
                    <li><a href="https://www.facebook.com"  target="_blank"><Facebook/></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=573007529489"  target="_blank"><Whatsapp color='#224E35' size="44"/></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>