---

---

<h1 class="mt-[7.6875rem] ml-[8.9rem] text-4xl flex items-center font-bold mb-[2.25rem] text-[#224E35]">Tus datos</h1>

<form action="" class="flex flex-col justify-center items-center gap-[2.25rem] mb-[5rem]">
    <div class="grid grid-cols-2 justify-center items-center gap-[2.25rem] ">
        <div class="">
            <input 
            class="w-[37.5rem] h-[2.5rem] border-2 border-black rounded text-center text-[1.1rem]" 
            id="name" 
            placeholder="Nombre" 
            type="text"     
            >
        </div>
        <div class="">
            <input 
            class="w-[37.5rem] h-[2.5rem] border-2 border-black rounded text-center text-[1.1rem]" 
            id="lastName" 
            placeholder="Apellido" 
            type="text"
            >
        </div>
        <div class="">
            <input 
            class="w-[37.5rem] h-[2.5rem] border-2 border-black rounded text-center text-[1.1rem]" 
            id="number" 
            placeholder="Celular" 
            type="text"
            >
        </div>
        <div class="">
            <select 
            id="places" 
            class="w-[37.5rem] h-[2.5rem] border-2 border-black rounded text-center text-[1.1rem]"
            >
                <option class="">Selecciona tu ubicación</option>
                <option class="" value="elCarmen">El Carmen de Víboral</option>
                <option class="" value="guarne">Guarne</option>
                <option class="" value="laCeja">La Ceja</option>
                <option class="" value="marinilla">Marinilla</option>
                <option class="" value="medellin">Medellín</option>
                <option class="" value="rionegro">Rionegro</option>
            </select>
        </div>
    </div>

    <div class="">
        <input 
        class="w-[77.125rem] h-[2.5rem] border-2 border-black rounded text-center text-[1.1rem]" 
        id="email" 
        placeholder="E-mail" 
        type="email"
        >
    </div>

    <div class="flex items-center mb-4 justyfy-start">
        <input type="checkbox" id="terminos-condiciones" class="mr-2">
        <label for="terminos-condiciones" class="text-[#6CCF45]">Términos y condiciones</label>
    </div>

    <div class="w-[37.5rem] h-[5rem] flex justify-center items-center border-[3px] rounded-[.8rem] border-[#6CCF45] text-center cursor-pointer hover:bg-[#6CCF45] hover:text-[white]">
        <h1 class=" text-2xl font-semibold">¡ COTIZA YA !</h1>
    </div>
      
</form>