---
import FormCard from '../components/FormCard.astro'
---


<h1 class="mt-[20.25rem] ml-[8.9rem] text-4xl flex items-center font-bold mb-[2.25rem] text-[#224E35]">¿Cuantas limpiezas necesitas?</h1>

<FormCard
titleCard1 = 'Semanal'
titleCard2 = 'Quincenal'
titleCard3= 'Única vez'
/>

<h1 class="mt-[4.875rem] ml-[8.9rem] text-4xl flex items-center font-bold mb-[2.25rem] text-[#224E35]">¿Cuantas horas?</h1>

<FormCard
titleCard1 = '8 hrs'
titleCard2 = '4 hrs - AM'
titleCard3= 'Única vez'
/>