---
import Whatsapp from "./icons/Whatsapp.astro";


---
<a href="https://api.whatsapp.com/send?phone=573007529489" target="_blank">
<div class="fixed bg-green-primary rounded-full p-2 right-8 bottom-8">
    <Whatsapp color="#FFFFFF" size="55"/>
</div>
</a>