---
import RouteLayout from "../../layouts/RouteLayout.astro";
---

<RouteLayout title="City Tour | Rivjar">
  <section class="w-full flex flex-col items-center justify-center py-16 my-8">
    <div class="w-[79rem] flex flex-col gap-16 items-center">
      <h2 class="text-4xl font-bold text-green-second uppercase">
        Ruta Historica de Rionegro
      </h2>
      <div class="grid grid-cols-9 grid-rows-2 w-full">
        <div class="col-span-5 col-start-1 row-start-1 row-span-2 h-[28rem]">
          <img src="/Edeso_Plaza_de_la_Libertad_panoramica_04.jpg" alt="" class="w-full h-full" />
        </div>
        <div class="col-span-4 col-start-6 row-start-1 h-[14rem]">
          <img src="/guatape.jpg" alt="" class="w-full h-full" />
        </div>
        <div class="col-span-2 h-[14rem]">
          <img src="/guatape.jpg" alt="" class="w-full h-full" />
        </div>
        <div class="col-span-2 h-[14rem]">
          <div class="relative w-full h-full">
            <img src="/guatape.jpg" alt="" class="w-full h-full" />
            <!-- <div class="absolute top-0 w-full h-full bg-green-primary/80 flex justify-center items-center">
                    <p class="text-white font-bold text-xl">Ver todas las fotos</p>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full flex flex-col items-center justify-center my-8">
    <div class="w-[79rem] flex flex-col gap-16 items-center mb-16">
      <div class="flex items-start justify-around">
        <div class="w-3/5 flex p-3 gap-8 flex-col">
          <p class="text-lg opacity-90">
            Tierra conocida como “Cuna de la libertad“, por ser una de las
            ciudades más importantes durante la época de independencia. Posee
            gran importancia histórica y arquitectónica, que propicia un buen
            referente en términos de atractivos culturales para el municipio.
            Por otro lado, gracias a su ubicación geográfica, privilegiada en
            cuanto a accesibilidad, desarrollo y rápidos procesos de
            urbanización, el municipio cuenta con factores determinantes para el
            desarrollo de la actividad turística. A continuación se presenta un
            resumen del inventario de atractivos naturales y culturales.
          </p>
          <div>
            <h2 class="text-green-primary font-bold text-2xl text-center mb-4">
              Itinerario
            </h2>
            <p class="text-lg opacity-90">
              Iniciaremos el recorrido en el parque principal donde serán
              recibidos por el guía local, el guía dará una información sobre el
              municipio y sus generalidades e historia, después, tomaremos un
              rico refrigerio, por consiguiente, haremos un city tour referente
              al parque a las casas y negocios , después nos desplazamos hacia
              el museo la convención, al finalizar nos trasladaremos a la
              catedral de rionegro donde está ubicado el museo de arte religioso
              y museo arte mar en parque principal, al terminar disfrutaremos de
              un rico almuerzo y haremos la evaluación y despedida
            </p>
            <div class="flex items-center justify-center p-8 w-[650px]">
              <ul class="flex flex-col gap-2">
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">08:00 am</span>Hora de
                  encuentro con personas en rionegro
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">09:00 am</span>Bienvenida
                  al parque de Rionegro con el guia y explicacion sobre la
                  historia del municipio
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">09:20 am</span>Refrigerio
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">09:40 am</span>Entrada al
                  museo convención
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">10:30 am</span
                  >Desplazamiento hacia el parque y entrada al museo de arte
                  religioso
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">11:30 am</span
                  >Finalización de explicación del museo
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">11:40 am</span>Almuerzo
                </li>
                <li class="font-bold text-md text-black/70">
                  <span class="text-green-second mr-6">12:20 am</span>Cierre del
                  recorrido y evaluación
                </li>
              </ul>
            </div>
          </div>
          
        </div>

        <div class="w-2/5 flex flex-col justify-center p-3 gap-8 items-center">
          <div>
            <h2 class="text-green-primary font-bold text-2xl text-center mb-4">
              Que incluye?
            </h2>

            <ul
              class="flex flex-col gap-2 list-disc list-green-900 w-[350px] text-green-second"
            >
              <li class="font-bold text-md">
                <span class="text-black/70"
                  >Traslados aeropuerto - Rionegro - aeropuerto</span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70"
                  >Recibimiento en el municipio con guía
                </span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70"
                  >Entrada a los museos casa de la convención y catedral
                  religioso y arte mar</span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70">City tour por el municipio</span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70"
                  >Guía acompañante de viaje y guía de sitio</span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70"
                  >Alimentación desayuno y almuerzo</span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70">Seguro de viaje</span>
              </li>
            </ul>
          </div>
          <div class="mt-4">
            <h2 class="text-green-primary font-bold text-2xl text-center mb-4">
              Recomendaciones
            </h2>

            <ul
              class="flex flex-col gap-2 list-disc list-green-900 w-[350px] text-green-second"
            >
              <li class="font-bold text-md">
                <span class="text-black/70">Traer bloqueador </span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70">Llevar ropa cómoda </span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70">Traer gorra </span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70">Zapatos cómodos</span>
              </li>
              <li class="font-bold text-md">
                <span class="text-black/70"
                  >Documento de identidad / Pasaporte</span>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div>
        <div class="w-full grid grid-cols-2">
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFA MINI VAN DESDE MEDELLÍN A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 10
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">100.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">40.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">30.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">300.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">17.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>76.000</th>
                  <th>760.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS MINI VAN DESDE AEROPUERTO JMAC A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 10
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4 text-sm">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">100.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">40.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de AEROPUERTO a rionegro ida y regredo </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">100.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">17.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>56.000</th>
                  <th>560.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS CAMIONETA DESDE MEDELLíN A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 6
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">30.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">60.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">30.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">8.350</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">24.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">31.666</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">190.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">28.350</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.100</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>92.000</th>
                  <th>552.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS CAMIONETA DESDE AEROPUERTO JMAC A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 6
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4 text-sm">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">30.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">60.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">30.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">8.350</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">24.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">15.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">90.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">28.350</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>75.700</th>
                  <th>454.200</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS AUTOMÓVIL DESDE MEDELLÍN A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 1
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>414.000</th>
                  <th>414.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS AUTOMÓVIL DESDE AEROPUERTO JMAC A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 1
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4 text-sm">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">70.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">70.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>314.000</th>
                  <th>314.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS AUTOMÓVIL DESDE MEDELLÍN A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 4
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">20.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">40.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">20.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">12.500</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">16.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">42.500</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">42.500</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>121.500</th>
                  <th>486.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="m-4 p-4">
            <table class="table-auto w-full">
              <caption class="caption-top text-green-primary font-bold text-2xl text-center mb-4">
                TARIFAS AUTOMÓVIL DESDE AEROPUERTO JMAC A RIONEGRO
              </caption>
              <caption class="caption-top text-black/70 font-bold  text-center mb-2">
                Numero Pasajeros 4
              </caption>
              <thead class="text-green-second">
                <tr>
                  <th class="text-left pb-4 text-sm">Materiales</th>
                  <th class="text-center pb-4 text-sm">Cantidad</th>
                  <th class="text-center pb-4 text-sm">Unidad</th>
                  <th class="text-center pb-4 text-sm">Valor unitario</th>
                  <th class="text-center pb-4 text-sm">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Póliza</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">20.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Refrigerio</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">10.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">40.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Hidratación</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Unidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">5.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">20.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Guía acompañante</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">12.500</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">50.000</td>
                </tr><tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Suvenir llavero</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">4.000</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">16.000</td>
                </tr>
                
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Transporte de medellín a rionegro ida y regreso </td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Viaje</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">17.500</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">70.000</td>
                </tr>
                <tr>
                  <td  class=" mb-2 text-black/70 font-semibold">Utilidad</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">1</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">Persona</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">42.500</td>
                  <td  class="text-center mb-2 text-black/70 font-semibold">170.000</td>
                </tr>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-left">
                    Costos total
                  </th>
                  <th></th>
                  <th>Cv</th>
                  <th>96.500</th>
                  <th>386.000</th>
                </tr>
              </tfoot>
            </table>
          </div>
          

        </div>
      </div>
    </div>
  </section>
</RouteLayout>
